<launch>

  <!-- allows disabling the gui from command line -->
  <arg name="gui" default="false" />

  <!-- launch the node -->
  <node name="rospix" pkg="rospix" type="rospix" output="screen">

    <!-- load config from config file -->
    <rosparam file="$(find rospix)/config/config.yaml" />

  </node>

</launch>
